* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    background-color: #efefef;
}
h1 {
    font-family: "Judson", serif;
    font-weight: 700, bold;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: "Judson", serif;
    font-weight: 700, bold;
    color: #666;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
}
#head p {
    font-family: "Open Sans", arial, helvetica;
    font-weight: 300, light;
    font-size: 20px;
    padding: 10px 0;
}
p {
    font-family: "Open Sans", arial, helvetica;
    font-weight: 300, light;
    font-size: 16px;
    padding: 10px 0;
}
.b1, .b2 {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 15px;
    font-family: "Judson", serif;
    color: #FFF;
    font-size: 16px;
    border: 2px solid #FFF;
    border-radius: 5px;
    margin: 10px 0;
}
.b2 {
    color: #444;
    border: 2px solid #444;
}
button:hover {
    cursor: pointer;
}
#head {
    position: absolute;
    top: 0;
    background-image: url("img/Portrait\ 2.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 2;
}
#headText {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    padding: 0 20px;
    color: #FFF;
}
#william {
    width: 100%;
    position: absolute;
    top: 0;
}
#topGradient {
    height: 150px;
    background: linear-gradient(to bottom, 
    rgba(61, 28, 4, 0.6), rgba(115, 115, 115, 0));
}
#bottomGradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, 
    rgba(217, 217, 217, 0), rgba(4, 3, 0, 0.8));
}
.section {
    padding: 20px 40px;
    font-family: "open sans", arial, helvetica;
}