* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", arial, helvetica;
    background-color: #EFEFEF;
}
#head {
    background-image: url("img/Portrait\ 2.jpg");
    background-size: cover;
    background-position: center;
    height: 100dvh;
}
#topGradient {
    height: 150px;
    background: linear-gradient(to bottom, 
    rgba(61, 28, 4, 0.6), rgba(115, 115, 115, 0));
}
#bottomGradient {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    background: linear-gradient(to bottom, 
    rgba(217, 217, 217, 0), rgba(4, 3, 0, 0.6) 75%);
}
#headText {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    padding: 0 40px;
    color: #FFF;
}
h1 {
    font-size: 110px;
    font-family: "Judson", serif, times;
    padding: 5px 0;
}
h2, h3 {
    font-family: "Judson", serif, times;
    font-size: 60px;
    padding-bottom: 25px;
    margin-top: 80px;
    color: #444;
    border-bottom: 1px solid #666;
}
h3 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    border: none;
}
#headText h2 {
    font-size: 50px;
    margin: 0;
    border-bottom: none;
    color: #EEE;
    margin: 10px 0;
    font-weight: 300;
}
p {
    font-size: 18px;
    padding: 30px 0;
}
.b1, .b2 {
    font-family: "Judson", serif, times;
    font-size: 50px;
    margin: 20px 0;
    padding: 25px 35px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #FFF;
    color: #FFF;
    font-weight: bold;
    border-radius: 12px;
}
.b2 {
    color: #444;
    border: 2px solid #444;
}
button:hover {
    cursor: pointer;
}
.section {
    margin: 40px;
}
.project {
    color: #000;
    margin-top: 60px;
}
.project p {
    color: #555;
}
.date {
    text-transform: uppercase;
    color: #666;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.seeProject {
    font-family: "Judson", serif;
    font-weight: bold;
    font-size: 40px;
}
.material-symbols-outlined {
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 24px !important;
    vertical-align: middle;
    color: #555;
}