* {
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    padding: 0 40px;
    z-index: 1;
    background-color: #ffffff99;
    backdrop-filter: blur(8px);

    box-shadow: 0 4px 20px #00000011;
    transform: translateY(-100%);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
body {
    z-index: 0;
    margin: 0;
    padding: 0;
    position: relative;
}
body::after {
    content: '';
    display: block;
    height: 100px;
    padding-bottom: 100px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(340deg, #072854, #7FA9E0);
    color: #FFF;
    padding: 40px;
    height: 100px;
}
.headerBox {
    height: 50px;
    line-height: 50px;
}
.headerBox .headerBoxElements {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
    list-style: none;
    --height: 50px;
    height: var(--height);
    line-height: var(--height);
    overflow: hidden;
    font-size: 24px;
    font-weight: 600;
    color: #555555;
    white-space: nowrap;
}
.headerBox p {
    transition: 0.3s ease;
    font-weight: 900;
    color: #7FA9E0;
    /* --webkit-text-fill-color: transparent;
    background: linear-gradient(200deg, #072854, #7FA9E0);
    --webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
}
p {
    line-height: 1.4em;
    padding-bottom: 20px;
    font-weight: 100;
}
#headBanner {
    max-width: 100svw;
    height: 75svh;
    padding-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to bottom, #FFF 40%, #7FA9E088);
    padding-bottom: 5svh;
}
.head {
    display: flex;
    flex-direction: column;
}
.lead {
    padding: 10px 0;
    font-size: 24px;
    font-weight: 600;
    color: #555555;

}
img {
    width: 50vw;
    max-width: 250px;
}
.social a span {
    color: #FFF;
    font-size: 36px;
    padding: 10px 0;
    font-weight: bold;
}


/* Buttons */
.button-collection {
    display: flex;
    justify-content: start;
    margin: 10px 0;
}
.button-collection button, .exp a button, header button {
    font-family: "Open Sans", Arial, Helvetica;
    font-weight: 600;
    padding: 10px 18px;
    margin: 0px 8px 0px 0px;
    border-radius: 24px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #11468C;
    cursor: pointer;
}
.button-light, header button {
    background-color: #FFFFFF99;
    color: #11468C;
    transition: background-color 0.3s ease;
}
.button-dark, .exp a button {
    background-color: #11468C;
    color: #FFFFFF;
    transition: background-color 0.3s ease, border 0.3s ease; 
}
.button-light:hover, header button:hover {
    background-color: #11468C;
    color: #FFFFFF;
}
.button-dark:hover, .exp a button:hover {
    background-color: #072854;
    border: 1px solid #072854;
}
button.button-light-underline {
    border: none;
    border-radius: 0px;
    padding: 6px 15px;
    color: #11468C;
    border: 1px solid #11468C;
    border-radius: 24px;
    background-color: #FFFFFF;
    font-weight: 300;
    transition: color 0.3s ease, background-color 0.3s ease;
}
button.button-light-underline:hover {
    color: #FFFFFF;
    background-color: #11468C;
}

/* Slide */
.images {
    display: flex;
    flex-direction: column;
    padding: 15px 10px; 
    border: 1px solid #7FA9E0;
    border-radius: 12px;
}
.slide {
    display: none;
    flex-direction: column;
    align-items: center;
}
.slide div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.slide p {
    padding: 0;
    height: 90px;
    line-height: normal;
    display: inline-block;
    text-align: center;
}
.slide h5 {
    font-family: "Inter", Arial, Helvetica;
    font-size: 24px;
    color: #7FA9E0;
    padding: 10px 0;
}
.slide div img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
button span {
    font-size: 20px;
    padding: 0 4px;
}
div.slideButton {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.slide h5.rightH5 {
    display: none;
    padding: 0;
}

/* Footer */
footer h6 {
    font-size: 24px;
    font-family: "Montserrat", "Open Sans", Arial, Helvetica;
    font-weight: 300;
}

/* Animation */
.wrapper .content {
    list-style: none;
    --height: 50px;
    height: var(--height);
    line-height: var(--height);
    overflow: hidden;
}
.wrapper .content p {
    animation: slide-up 24s infinite; 
    font-size: 24px;
    font-weight: 600;
    color: #555555;
    white-space: nowrap;
}
@keyframes slide-up {
    0% {
        opacity: 0;
    }
    1%, 10% {
        transform: translateY(0%);
        opacity: 1;
    }
    11%, 13% {
        opacity: 0;
    }
    15%, 25% {
        transform: translateY(-100%);
        opacity: 1;
    }
    26%, 28% {
        opacity: 0;
    }
    30%, 40% {
        transform: translateY(-200%);
        opacity: 1
    }
    41%, 43% {
        opacity: 0;
    }
    45%, 55% {
        transform: translateY(-300%);
        opacity: 1;
    }
    56%, 58% {
        opacity: 0;
    }
    60%, 70% {
        transform: translateY(-400%);
        opacity: 1;
    }
    71%, 73% {
        opacity: 0;
    }
    75%, 85% {
        transform: translateY(-500%);
        opacity: 1;
    }
    86%, 88% {
        opacity: 0;
    }
    90%, 98% {
        transform: translateY(-600%);
        opacity: 1;
    }
    99.5%, 100% {
        transform: translateY(-640%);
        opacity: 0;
    }
}
/* Projects */
.project {
    /* background: linear-gradient(200deg, #072854, #7FA9E0DD); */
    margin: 10px 0;
    border: 1.5px solid #7FA9E0;
    border-radius: 10px;
    padding: 20px;
}
.project .date {
    text-transform: uppercase;
    font-family: "Montserrat", Arial, Helvetica;
    font-weight: 700;
    color: #7FA9E0;
    font-size: 16px;
    padding: 0;
}
.project h5 {
    font-size: 24px;
    color: #11468C;
    font-weight: 900;
}
.project h5 a {
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: #11468C;
    display: inline-block;
    padding-bottom: 2px;
    margin: 8px 0;
    background-image: linear-gradient(90deg, #11468C 0 0);
    background-position: left bottom;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
}
.project h5 a:hover {
    cursor: pointer;
    background-size: 100% 2px;
}
.project .company {
    margin-bottom: 20px;
    font-weight: 500;
    color: #666666;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.project .material-symbols-outlined {
    margin-right: 5px;
}
.project p {
    font-weight: 200;
    line-height: 1.3rem;
    padding: 5px 0 10px 0;
}
.exp h5 {
    padding-bottom: 15px;
}
.exp ul {
    margin-bottom: 30px;
}
ul li {
    font-weight: 100;
    line-height: 1.5em;
    font-size: 16px;
}
.exp a button, .exp a button:hover, header button, header button:hover {
    font-size: 16px;
    padding: 8px 15px;
}

body {
    font-family: "Open Sans", Arial, Helvetica;
    margin: 0;
    font-size: 16px;
    color: #222;
    background-color: #FFF;
}
h1, h2, h4 {
    font-family: "Montserrat", "Open Sans", Arial, Helvetica;
}
h1 {
    font-weight: 300;
    font-size: 16px;
}
h2 {
    font-size: 24px;
    color: #999999;
    font-weight: 600;
}
h3 {
    font-family: "Inter", Arial, Helvetica;
    font-size: 42px;
    font-weight: 900;
    --webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #072854, #7FA9E0);
    --webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.body h4 {
    font-family: "Inter", Arial, Helvetica;
    --webkit-text-fill-color: transparent;
    background: linear-gradient(200deg, #072854, #7FA9E0);
    --webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 36px;
    padding: 25px 0;
}
.body {
    padding: 40px;
}

svg {
    width: 35px;
    padding-right: 3px;
}
.project svg {
    width: 20px;
}
svg:hover {
    cursor: pointer;
}


#header.hidden  {
    transform: translateY(-100%);
}
#header.visible {
    transform: translateY(0);
}
@media (min-height: 500px) and (max-width: 540px) {
    header {
        height: 60px;
    }
    #headBanner {
        display: flex;
        justify-content: center;
        height: 100svh;
    }
}
@media (min-width: 541px) {
    #headBanner {
        justify-content: center;
        height: 90svh;
    }
    #headBanner .head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;   
    }
    .button-light {
        padding-left: 0;
        margin: 0;
    }
    button.button-light-underline {
        margin: 10px 10px 0 0;
    }
    .slide div {
        flex-direction: row;
    }
    .slide .right {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px;
    }
    .slide p {
        text-align: left;
        height: auto;
    }
    .right .slideButton {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .slide h5 {
        display: none;
    }
    .slide h5.rightH5 {
        display: block;
    }
}


@media (min-width: 769px) {
    header {
        padding: 0 80px;
    }
    .body {
        padding: 40px 80px;
    }
    .projects {
        display: flex;
    }
    .project {
        margin-right: 20px;
    }
}
@media (min-width: 1025px) {
    header {
        padding: 0 120px;
    }
    .body, footer {
        padding: 40px 120px;
    }

    /* Slides */
    .images {
        border: none;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }
    .slide {
        display: inline-block;
        padding: 2px;
    }
    .slide .right {
        display: none;
    }
}


